.flex-col {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.flex-col input {
    padding: 0.29rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}

.flex-col label {
    padding-bottom: 0.3rem;
}

.form-success-mes {
    color: green;
}