@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.categories-home-section {
  width: 86%;
  gap: 15px;
  margin: 2rem 3rem 2rem 6rem;
  height: 90vh;
}

.home-page-article {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: black;
}

.banner-images img {
  width: 100%;
  height: 90vh;
}

.home-page-article .wrapper-article {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 12rem 39rem 0 4rem;
  z-index: 1;
}
.wrapper-article .wrapper-writeup {
  margin-bottom: 2rem;
}

.wrapper-article .wrapper-writeup h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}
.wrapper-article .wrapper-writeup p {
  line-height: 3;
  font-size: 23px;
  font-weight: bold;
}

.wrapper-article button {
  display: flex;
  padding: 10px 15px 10px 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
  color: #097c0d;
  border-radius: 0.4rem;
  border: 1px solid #ffffff;
}

.wrapper-article button:hover {
  background-color: #065709;
  color: #ffffff;
  cursor: pointer;
}
.buttn-buy-now svg {
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  fill: #097c0d;
  cursor: pointer;
}

.mySlides {
  object-fit: cover;
  opacity: 0.4;
}

/* CATEGORIES SECTION */
.buyers-product-category {
  margin-left: 7rem;
}
.buyers-product-category ul {
  display: flex;
}
.buyers-product-category ul li {
  list-style-type: none;
  margin: auto 4rem;
  cursor: pointer;
  font-weight: bold;
}

.buyers-product-category ul li:hover {
  color: #097c0d;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #097c0d;
}
.containers-product h6 {
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2rem;
  color: red;
}
/* CARD SECTION */
.containers-product {
  width: 90%;
  margin: 0 auto;
  margin-left: 5rem;
  
  
}
.containers-product h2 {
  font-weight: bold;
  color: #097c0d;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-top: 2rem;
  width: 100%;
  
}
.containers-product h2 {
  text-align: center;
  margin-top: 4rem;
  font-size: 20px;
}
.card {
  width: 22rem;
  margin: 10px;
  height: 415px;
  transition: 2s;
  border: 1px solid #dfe2e6;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bag img {
  height: 230px;
  width: 100%;
}
.price {
  padding: 10px;
  font-weight: bold;
  line-height: 1.5rem;
}

.container-card:after {
  content: "";
  display: table;
  clear: both;
}
.share {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.share .carte {
  background-color: #e6f2e7;
  border: 1px solid #00ab66;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
}
.share .carte svg {
  fill: #00ab66;
}

.share .carte:hover {
  background: #097c0d;
}
.share .carte svg:hover {
  fill: #fff;
}

.card h4 {
  color: #097c0d;
  margin-left: 0.1rem;
}

.card p {
  font-size: 16px;
}

#buy {
  padding: 3px;
  font-size: 10px;
  background-color: #097c0d;
  border: #097c0d;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#buy:hover {
  background-color: #dfe2e6;
  color: #097c0d;
  border: #097c0d;
}

.price span i {
  color: tomato !important;
}
.price span del {
  color: tomato !important;
  text-decoration: line-through;
}
/* BROKER SCTION */

.broker-container {
  display: flex;
  padding: 2rem;
  /* border: 1px solid black; */
  margin-left: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.broker-image {
  width: 80%;
  padding-left: 4rem;
}
.broker-image img {
  height: 75vh;
  width: 100%;
}

.broker-info {
  margin: auto 0;
  padding-left: 8rem;
  padding-right: 8rem;
}
.broker-write p {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.broker-info #broker-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #097c0d;
  color: #fff;
  outline: none;
  border: #097c0d;
  border-radius: 5px;
  margin-top: -15rem;
  cursor: pointer;
}

.broker-info #broker-btn:hover {
  background-color: #e6f2e7;
  border: #097c0d;
  color: #097c0d;
}

.broker-btn {
  padding-top: 4rem;
  margin-left: 12rem;
}

/* seller */
.seller-main-conatiner {
  margin-top: 2rem;
  background-color: #e6f2e7;
  padding: 2rem;
}
.seller-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}
.seller-child1 {
  width: 100%;
  height: 65vh;
  /* background-color: #e6f2e7; */
  color: #fff;
  padding: 20px;
}
.seller-child2 {
  width: 70%;
  color: #097c0d;
}
.seller-child2 img {
  height: 75vh;
  width: 100%;
}

/* .seller-content p {
  font-weight: bold;
  font-size: 30px;
}
.seller-content p,span, h3{
  color: orangered;
  font-weight: bold;
}
.seller-content h3 {
  font-weight: bold;
  font-size: 50px;
} */
.seller-child1 .seller-content {
  text-align: center;
  padding: 8rem;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 1.2;
}
.seller-content span {
  color: #097c0d;
}

.seller-btn {
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: #097c0d;
  border: 1px solid #097c0d;
  background-color: #dfe2e6;
}

.seller-btn:hover {
  background-color: #c2c7d0;
}

/* PARTNERS AND PAYMENT SECTION */
.payment-partners {
  margin-bottom: 4rem;
}
.all-payment {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  border: 2px solid #dfe2e6;
}
.pay img {
  margin-left: 30px;
}
.pay {
  display: flex;
}
.all-payment img {
  height: 5vh;
  cursor: pointer;
}
/* .partner-with {
  background-color: green;
} */
.partner-with h4 {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
  font-weight: bold;
}
.partners {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: auto 0;
  align-items: center;
  padding-left: 4rem;
  margin-bottom: -5rem;
}

.partners .tiidelab img {
  height: 18vh;
}

.partners .neca img {
  height: 20vh;
  margin: 2rem;
}
.pages {
  display: flex;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  margin: 2rem 0;
}
/* .pages:hover {
  color: #097c0d;
} */
