/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
.My-broker {
  margin-top: 8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(135deg, #e5e5e5, #e5e5e5); */
}

.container-agro {
  max-width: 700px;
  width: 100%;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container-agro .title-agro {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-agro .title-agro::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 30px;
  border-radius: 5px;
}
.content-agro form .user-details-agro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details-agro .input-box-agro {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box-agro span.details-agro {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details-agro .input-box-agro input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details-agro .input-box-agro input:focus,
.user-details-agro .input-box-agro input:valid {
  border-color: #045e0a;
}
.gender-details-agro {
  margin-right: 50px;
}
form .gender-details-agro .gender-title-agro {
  font-size: 20px;
  font-weight: 400;
}
.gender-agro {
  margin-top: 10px;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form .button-agro {
  height: 45px;
  margin: 35px 0;
}
form .button-agro input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #097c0d;
}

.Address-input-box-agro input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
form .button-agro input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #097c0d, #097c0d);
}
@media (max-width: 584px) {
  .container-agro {
    max-width: 100%;
  }
  form .user-details-agro .input-box-agro {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content-agro form .user-details-agro {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details-agro::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container-agro .content-agro .category {
    flex-direction: column;
  }
}
.Address-container-agro {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
}

.Address-container-agro .input-box-agro input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.Address-input-box-agro input {
  width: 100%;
}

form .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}

.agree-terms-agro {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.agree-terms-agro p {
  font-size: 13px;
  line-height: 20px;
  padding-top: 1rem;
}

.agree-terms-agro span {
  color: #097c0d;
}

/* gender radio btn styling */
.gender-details-agro {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 250px; */
}
.radio-button-agro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1.5rem;
}
.radio-input-agro {
  margin-right: 4px;
}

/* #overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
} */

/* .displayID {
  padding: 10% 10% 10% 25%;
  text-align: center;
  color: #fff;
} */

/* .displayID h1 {
  font-size: 40px;
  margin: 1rem;
}

.displayID p {
  font-size: 20px;
}

.close {
  background-color: green;
  padding: 6px;
  color: #fff;
  outline-color: beige;
  border-radius: 7px;
  cursor: pointer;
} */

.error {
  color: red;
}
