.contact-foot-width {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 100%;
    align-items: center;
    max-width: 100%;
}

.widths {
  padding-left: 9rem;
  padding-top: 3rem;
}

.wid {
  padding-left: 9rem;
  padding-top: 1rem;
}

.main-green {
    color: #097C0D;
}

.mid {
    font-size: 1.14rem;
}

.social-cover {
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grays {
    color: gray;
}

.newsletter-width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
}

.newsletter-flex-email {
    display: flex;
    gap: 7rem;
    padding-top: 3rem;
}

.footer-email-input-set {
    position: relative;
}

.adjust {
    position: absolute;
    top: 3px;
    right: 7px;
}

.light-green {
    background-color: #E6F2E7;
}


/* *************MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .contact-foot-width {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        width: 100%;
        align-items: center;
        max-width: 100%;
    }

      .widths {
        padding-left: 0;
        padding-top: 3rem;
      }

      .newsletter-flex-email {
        display: block;
        gap: 7rem;
        padding-top: 1.5rem;
    }
  
}

/* *************MEDIA QUERIES (SMALL DEVICE)*********** */

@media  screen and (max-width: 600px) {
    .contact-foot-width {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        width: 100%;
        align-items: center;
        max-width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .wid {
        padding-left: 0;
        padding-top: 0;
      }

      .widths {
        padding-left: 0;
        padding-top: 0;
      }

      .footer-social-flex {
        display: flex; 
        justify-content: center;
        text-align: center;
      }

      .footer-image-resize {
        display: flex;
        justify-content: center;
        margin-bottom: -10px;
      }

      .push-top {
        padding-top: 2.5rem;
      }

      .push-top1 {
        padding-top: 1rem;
      }

      .push-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

}