* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.reset_password_form {
  width: 350px;
  padding: 1rem;
  margin: 5rem auto 0;
}
.reset_password_form_title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.reset_password_form label {
  display: block;
  margin-top: 0.5rem;
}

.reset_password_form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  padding: 0.2rem;
  width: 100%;
}

.reset_password_form input:focus {
  outline: none;
}

.reset_password_form input::placeholder {
  font-size: 0.9rem;
}
.reset_btn {
  background: #065709;
  color: #fff;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 2rem;
  border: none;
}

.errors {
  color: red;
}

.toast-message {
  margin-top: 5rem;
}
