@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Roboto', sans-serif; */
/* ************GENERAL SETTINGS */
* {
	margin: 0;
	padding: 0;
	/* border: none;
  outline: none; */
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	--color-primary: #097c0d;
	--color-primary-variant: #e6f2e7;
	--color-primary-hover: #065709;
	--color-bg-shade700: #243757;
	--color-bg-shade600: #7a8699;
	--color-bg-shade50: #c2c7d0;
	--color-bg-shade40: #dfe2e6;
	--color-bg-shade20: #f5f6f7;
	--color-bg-shade10: #fafbfb;
	--color-error: #ea0000;
	--color-success: #00ab66;
	--color-black: #000000;
	--color-white: #ffffff;

	--transition: all 400ms ease;

	--container-width-lg: 87%;
	--container-width-md: 90%;
	--container-width-sm: 95%;
}

/* *************MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
}

/* *************MEDIA QUERIES (SMALL DEVICE)*********** */

@media screen and (max-width: 600px) {
}
