.ManageTaskWrapper {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin-bottom: 3rem;
	margin-top: 6rem;
}
.manage-task-wrapper {
	width: 80%;
	position: relative;
	left: 15%;
}

@media screen and (max-width: 768px) {
	.manage-task-wrapper {
		width: 70%;
		position: relative;
		left: 25%;
	}
}
